.formContainer {
  width: 40vw;
  border: 2px solid black;
}

.TaskForm {
  border: 2px solid blue;
}

.TaskLine {
  border: 2px solid blue;
}

.Field {
  text-align: center;
}

input {
  background-color: black;
  border: none;
  color: lightgreen;
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 20px;
  font-variation-settings: "BLED" 0, "SCAN" 0;
}
