.menuContainer {
  background-color: rgb(65, 65, 65);
  font-family: "Courier New", Courier, monospace;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
